.detail_page_wrapper {
  padding-bottom: 80px;
  grid-auto-flow: row;
}

.panel_wrapper {
  grid-column: 1 / -1;
}

.breakdown_info_content {
  grid-gap: 16px 20px;
  grid-template-columns: 2fr 1fr;
}

.cost_info_content {
  grid-gap: 16px 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.usability_grid_content {
  grid-template-columns: repeat(auto-fit, minmax(auto, 160px));
}

.assignment_grid_content {
  grid-template-columns: repeat(auto-fit, minmax(auto, 340px));
}
