.fc-button-group {
  display: flex;
  grid-gap: 4px;
}

.fc-button {
  background-color: rgba(var(--main-darkgray), 0.1) !important;
  border-radius: 32px !important;
  border: none !important;
  color: rgba(var(--main-darkgray), 1) !important;
  font-size: 9px !important;
  height: 16px !important;
  text-transform: uppercase !important;
  padding: 0 !important;
}

.fc-today-button {
  width: 42px !important;
}

.fc-prev-button {
  width: 16px !important;
  height: 16px !important;
  border-radius: 50% !important;
}

.fc-icon {
  color: rgba(var(--main-darkgray), 1) !important;
  font-size: 12px !important;
}

.fc table {
  border: none !important;
  border-collapse: separate !important;
  border-spacing: 4px !important;
}

.fc th {
  border: none !important;
}

.fc td {
  border: none !important;
}

.fc .fc-day-today .fc-daygrid-day-top {
  background-color: rgba(120, 207, 255, 1);
  width: 24px;
  height: 24px;
  display: grid;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
}

.fc .fc-daygrid-day-top {
  position: absolute;
  right: 4px;
  bottom: 4px;
  font-size: 15px;
}

.fc .fc-daygrid-day-frame {
  height: 170px !important;
  background: white !important;
  border-radius: 8px !important;
  box-shadow: 0px 1px 2px rgba(73, 73, 73, 0.1) !important;
}

.fc .fc-daygrid-day-events::before {
  display: none;
}

.fc .fc-daygrid-day-events::after {
  display: none;
}

.fc .fc-daygrid-event-harness::before {
  display: none;
}

.fc .fc-daygrid-event-harness::after {
  display: none;
}

.fc .fc-h-event {
  border: none !important;
  background-color: transparent !important;
}

.fc-drag-chip {
  display: flex;
  align-items: center;
  grid-gap: 8px;
  border-radius: 16px;
  border-width: 1px;
  border-style: solid;
  color: rgba(var(--main-darkgray), 1);
  margin-bottom: 4px;
}

.fc-event-main .missed {
  background: rgba(236, 129, 106, 0.2);
  border-color: rgba(236, 129, 106, 1);
}

.fc-event-main .open {
  background: rgba(120, 207, 255, 0.2);
  border-color: rgba(120, 207, 255, 1);
}

.fc-event-main .inprogress {
  background: rgba(84, 223, 173, 0.2);
  border-color: rgba(84, 223, 173, 1);
}

.fc-event-main .done {
  background: transparent;
  border-color: rgba(73, 73, 73, 1);
}

.fc .fc-highlight {
  border: 3px;
  border-style: solid;
  border-color: rgba(120, 207, 255, 1);
  border-radius: 8px;
  background-color: transparent !important;
}
