.asset_info_content {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px 20px;
}
.panel_wrapper {
  grid-column: 1 / -1;
}

.breakdown_info_content {
  grid-gap: 16px 20px;
  grid-template-columns: 2fr minmax(340px, 1fr);
}

.asset_info_img {
  width: 96px;
  height: 96px;
  overflow: hidden;
}
