.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
}

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

.z-4 {
  z-index: 4;
}

.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.bot-0 {
  bottom: 0;
}

.bot-8 {
  bottom: 8px;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.grid {
  display: grid;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: start;
}

.align-items-end {
  align-items: end;
}

.align-items-stretch {
  align-items: stretch;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
}

.align-self-center {
  align-self: center;
}

.align-self-stretch {
  align-self: stretch;
}

.align-content-between {
  align-content: space-between;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-stretch {
  justify-content: stretch;
}

.justify-item-start {
  justify-items: start;
}

.justify-item-center {
  justify-items: center;
}

.justify-item-end {
  justify-items: end;
}

.justify-self-start {
  justify-self: start;
}

.justify-self-end {
  justify-self: end;
}

.justify-self-center {
  justify-self: center;
}

.grid-auto-flow-column {
  grid-auto-flow: column;
}

.flex-auto-flow-column {
  flex-direction: column;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-row-reverse {
  flex-direction: row-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.grid-column-full {
  grid-column: 1 / -1;
}

.grid-template-columns-1-1 {
  grid-template-columns: 1fr 1fr;
}

.grid-column-none {
  grid-column: none;
}
