.text-xLarge {
  font-family: inter, 'Helvetica', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 120%;
}

.font-bold {
  font-weight: 700;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.upper-case {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.break-word {
  overflow-wrap: anywhere;
}

.no-wrap {
  white-space: nowrap;
}

.text-48 {
  font-size: 48px;
}

.text-7 {
  font-size: 7px;
}

.three-dot {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.font-italic {
  font-style: italic;
}
