.category_group-enter {
  opacity: 0;
}
.category_group-enter-active {
  opacity: 1;
  transition: all 0.3s ease-out;
}
.category_group-exit {
  opacity: 1;
}
.category_group-exit-active {
  opacity: 0;
  transition: all 0.3s ease-out;
}
