.status-card {
  height: 48px;
  width: 256px;
  .status-title {
    transition: transform 0.3s ease;
    position: absolute;
    transform: translateY(-50%);
  }
  .status-desc {
    transition: opacity, transform 0.3s ease;
    position: absolute;
    transform: translateY(10px);
    opacity: 0;
  }
  &:hover {
    background: rgba(var(--white), 1);
    .status-title {
      font-weight: 700;
      transform: translateY(-15px) translateX(-10%) scale(0.8);
      color: rgba(var(--main-darkgray), 1);
    }
    .status-desc {
      opacity: 1;
      transform: translateY(2px);
    }
  }
  .status-icon-content {
    right: -1px;
    top: -1px;
    bottom: -1px;
  }
}
