.table_empty {
  bottom: 50%;
  display: grid;
  grid-gap: 8px;
  justify-content: center;
  justify-items: center;
  z-index: 0;
}

.tableSpace-4 {
  border-collapse: separate;
  border-spacing: 0px 4px;
}

.table_cell_long {
  max-width: 128px;
}
