.h-screen {
  height: 100vh;
}

.h-full {
  height: 100%;
}

.h-half {
  height: 50%;
}

.h-inherit {
  height: inherit;
}

.h-auto {
  height: auto;
}

.h-16 {
  height: 16px;
}

.h-24 {
  height: 24px;
}

.h-40 {
  height: 40px;
}

.h-48 {
  height: 48px;
}

.drawer-height {
  height: calc(100vh - var(--page-space));
}

.w-16 {
  width: 16px;
}

.w-full {
  width: 100%;
}

.w-half {
  width: 50%;
}

.w-one_third {
  width: 33%;
}

.w-inherit {
  width: inherit;
}

.w-fit-content {
  width: fit-content;
}
