//PADDINGS
.p0 {
  padding: 0;
}

.p10 {
  padding: 10px;
}

.p8 {
  padding: 8px;
}

.p6 {
  padding: 6px;
}

.p4 {
  padding: 4px;
}

.p16 {
  padding: 16px;
}

.p24 {
  padding: 24px;
}

.p32 {
  padding: 32px;
}

.px4 {
  padding-left: 4px;
  padding-right: 4px;
}

.px6 {
  padding-left: 6px;
  padding-right: 6px;
}

.px8 {
  padding-left: 8px;
  padding-right: 8px;
}

.px16 {
  padding-left: 16px;
  padding-right: 16px;
}

.py16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.px24 {
  padding-left: 24px;
  padding-right: 24px;
}

.pl8 {
  padding-left: 8px;
}

.pl10 {
  padding-left: 10px;
}

.pl12 {
  padding-left: 12px;
}

.pl16 {
  padding-left: 16px;
}

.pl24 {
  padding-left: 24px;
}

.pr16 {
  padding-right: 16px;
}

.pr64 {
  padding-right: 64px;
}

.pt8 {
  padding-top: 8px;
}

.pt24 {
  padding-top: 24px;
}

.py1 {
  padding-top: 1px;
  padding-bottom: 1px;
}

.py8 {
  padding-bottom: 8px;
  padding-top: 8px;
}

.pb8 {
  padding-bottom: 8px;
}

.pb16 {
  padding-bottom: 16px;
}

.pb12 {
  padding-bottom: 12px;
}

.pb32 {
  padding-bottom: 32px;
}

.px12 {
  padding-right: 12px;
  padding-left: 12px;
}

//MARGINS
.m0 {
  margin: 0;
}

.m4 {
  margin: 4px;
}

.m8 {
  margin: 8px;
}

.m12 {
  margin: 12px;
}

.m16 {
  margin: 16px;
}

.mx4 {
  margin-left: 4px;
  margin-right: 4px;
}

.mx8 {
  margin-left: 8px;
  margin-right: 8px;
}

.mx16 {
  margin-left: 16px;
  margin-right: 16px;
}

.mx24 {
  margin-left: 24px;
  margin-right: 24px;
}

.mx32 {
  margin-left: 32px;
  margin-right: 32px;
}

.ml4 {
  margin-left: 4px;
}

.ml8 {
  margin-left: 8px;
}

.ml12 {
  margin-left: 12px;
}

.ml16 {
  margin-left: 16px;
}

.ml24 {
  margin-left: 24px;
}

.ml32 {
  margin-left: 32px;
}

.ml40 {
  margin-left: 40px;
}

.ml48 {
  margin-left: 48px;
}

.ml16-minus {
  margin-left: -16px;
}

.mb4-minus {
  margin-bottom: -4px;
}

.mb8 {
  margin-bottom: 8px;
}

.mb12 {
  margin-bottom: 12px;
}

.mb16 {
  margin-bottom: 16px;
}

.mb32 {
  margin-bottom: 32px;
}

.mt4-minus {
  margin-top: -4px;
}

.mt8-minus {
  margin-top: -8px;
}

.mt16-minus {
  margin-top: -16px;
}

.mb8-minus {
  margin-bottom: -8px;
}

.mt4 {
  margin-top: 4px;
}

.mt8 {
  margin-top: 8px;
}

.mt16 {
  margin-top: 16px;
}

.mt20 {
  margin-top: 20px;
}

.mt24 {
  margin-top: 24px;
}

.mt64 {
  margin-top: 64px;
}

.mr8-minus {
  margin-right: -8px;
}

.mr4 {
  margin-right: 4px;
}

.mr8 {
  margin-right: 8px;
}

.mr12 {
  margin-right: 12px;
}

.mr16 {
  margin-right: 16px;
}

.mr24 {
  margin-right: 24px;
}

.my6 {
  margin-bottom: 6px;
  margin-top: 6px;
}

.my8 {
  margin-bottom: 8px;
  margin-top: 8px;
}

.my12 {
  margin-bottom: 12px;
  margin-top: 12px;
}

.my16 {
  margin-bottom: 16px;
  margin-top: 16px;
}

.my24 {
  margin-bottom: 24px;
  margin-top: 24px;
}

.my32 {
  margin-bottom: 32px;
  margin-top: 32px;
}

//GAP
.gap-2 {
  grid-gap: 2px;
}

.gap-4 {
  grid-gap: 4px;
}

.gap-5 {
  grid-gap: 5px;
}

.gap-8 {
  grid-gap: 8px;
}

.gap-10 {
  grid-gap: 10px;
}

.gap-16 {
  grid-gap: 16px;
}

.gap-20 {
  grid-gap: 20px;
}

.gap-24 {
  grid-gap: 24px;
}

.gap-32 {
  grid-gap: 32px;
}

.gap-48 {
  grid-gap: 48px;
}
