:root {
  //COLORS
  --white: 255, 255, 255;
  --main-red: 228, 117, 109;
  --main-lightgray: 243, 245, 246;
  --main-darkgray: 73, 73, 73;
  --main-green: 64, 219, 163;
  --main-blue: 105, 201, 255;
  --borda1: 240, 85, 44;
  --borda2: 85, 149, 159;
  --borda3: 43, 68, 74;
  --main-yellow: 243, 201, 50;
  --main-orange: 229, 160, 113;
  --main-grey: 172, 184, 188;

  --gradient-yellow: linear-gradient(180deg, #f3bf32 0%, #f5c850 100%);
  --gradient-lightRed: linear-gradient(
    180deg,
    rgba(237, 110, 118, 0.1) 0%,
    rgba(236, 129, 106, 0.1) 100%
  );
  --gradient-lightGreen: linear-gradient(
    180deg,
    rgba(64, 219, 163, 0.1) 0%,
    rgba(84, 223, 173, 0.1) 100%
  );
  --gradient-lightBlue: linear-gradient(
    180deg,
    rgba(105, 201, 255, 0.1) 0%,
    rgba(120, 207, 255, 0.1) 100%
  );

  //BORDER
  --border-4: 4px;
  --border-8: 8px;
  --border-16: 16px;
  --border-24: 24px;
  --border-32: 32px;
  --border-bot-16: 0px 0px 16px 16px;
  --border-top-16: 16px 16px 0px 0px;

  //SHADOW
  --elev1: 0px 1px 2px rgba(var(--main-darkgray), 0.1);
  --elev2: 0px 2px 4px rgba(var(--main-darkgray), 0.1);
  --elev3: 0px 6px 12px rgba(var(--main-darkgray), 0.1);
  --elev4: 0px 8px 16px rgba(var(--main-darkgray), 0.1);
  --elev5: 0px 16px 32px rgba(var(--main-darkgray), 0.1);
  --elev6: 0px 24px 48px rgba(var(--main-darkgray), 0.1);
  --elev7: 0px -2px 2px rgba(var(--main-darkgray), 0.1);

  // PAGE SPACES
  --header-menu-height: 56px;
  --breadcrumbs-height: 62px;
  --sub-menu-height: 56px;
  --bottom-space: 8px;
  --top-space: 8px;
  --page-space: calc(var(--header-menu-height) + var(--breadcrumbs-height) + var(--bottom-space));
  --page-space-categories: calc(
    var(--header-menu-height) + var(--breadcrumbs-height) + var(--sub-menu-height) +
      var(--bottom-space)
  );
  --left-space: 264px;
  --right-space: 72px;

  //BREAKPOINTS
  --xl: 1800px;
  --lg: 1200px;
  --md: 900px;
  --sm: 600px;
  --xs: 0;
}
